body
  margin 0
  height: 100vh

.inner__wrap
  margin 0 auto
  max-width 1280px
  min-width 320px
  display flex
  flex-direction column
  height 100%

@media all and (max-width: 768px)
  .inner__wrap
    margin 0 auto
    max-width 100%
    min-width 320px


@import "components/header/header.styl"
@import "components/intro/intro.styl"
@import "components/footer/footer.styl"
@import "components/form/form.styl"
