footer.footer
    .footer__wrap
        .row
            .col-lg-6.col-sm-12.footer__wrap_block-info
                .footer__wrap_block-info--logo
                    img(src="./img/logo.jpg")
                .footer__wrap_block-info--copy Copyright @ 2019 Company
            .col-lg-6.col-sm-12.footer__wrap_block-pages
                a.footer__wrap_block-pages--page(href="") Terms
                a.footer__wrap_block-pages--page(href="") Privacy Policy
                a.footer__wrap_block-pages--page(href="") Cookie Policy
